<a href="https://colab.research.google.com/github/woscc123/asn/blob/master/2016250012_%EA%B9%80%EC%A7%84%EC%83%81_6%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 모음 자료형

## 문자열

**문제 1**

문자열 `a:b:c:d` 을 이용하여 문자열 `a#b#c#d` 생성하는 코드를 작성하라.
단, 문자열의 메서드만 사용한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "a#b#c#d" 가 직접 언급되지 않아야 한다.

input_str = "a:b:c:d"

output_str = input_str.replace(":","#")  #  replece() 메서드로 ":"을 "#"으로 바꿉니다.

In [ ]:
assert output_str == "a#b#c#d" # 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert output_str == "a#b#c#d"

**문제 2**

메뉴와 가격이 공백으로 구분된 두 개의 문자열로 주어졌다.

In [ ]:
menu = "ham bread chicken egg"
prices = "1200 5000 17000 500"

가장 저렴한 메뉴와 가장 비싼 메뉴를 추천하는 문자열을 
다음과 같이 출력하는 프로그램을 구현하라.

```python
가장 저렴한 메뉴: egg  
가장 비  싼 메뉴: chicken  
```

In [ ]:
# pass 를 적절한 명령문과 표현식으로 대체하라.
# 단, 출력해야 하는 문자열이 직접 언급되지 않아야 한다.

menu = menu.split()                       # 공백을 기준으로 메뉴를 리스트로 바꿉니다.
prices = list(map(int, prices.split()))   # 공백을 기준으로 가격을 정수형으로 바꿔서 리스트로 바꿉니다.
                                          #  지금 메뉴와 가격은 서로 같은 인덱스에 메뉴에 그 메뉴의 가격이 담겨있습니다.

max = max(prices)                         # 가장 비싼 메뉴의 가격입니다.
min = min(prices)                         # 가장 저렴한 메뉴의 가격입니다.

max_index = prices.index(max)             # 가장 비싼 메뉴의 인덱스 값입니다.
min_index = prices.index(min)             # 가장 저렴한 메뉴의 인덱스 값입니다.

In [ ]:
print(f"가장 저렴한 메뉴: {menu[min_index]}")                  # 메뉴 리스트에서 저렴한 가격의 해당 인덱스로 메뉴를 찾을 수 있습니다.
print(f"가장 비 싼 메뉴: {menu[max_index]}")                   # 메뉴 리스트에서 비싼 가격의 해당 인덱스로 메뉴를 찾을 수 있습니다.

가장 저렴한 메뉴: egg
가장 비 싼 메뉴: chicken

**문제 3**

n! 은 1부터 n 까지의 자연수의 곱을 나타내며, 
n 의 계승 또는 팩토리얼<font size="2">factorial</fotn>이라 부른다. 

자연수 n 이 주어졌을 때, n! 의 끝에 있는 0 의 개수를 반환하는 `terminalZeroCount()` 함수를 
작성하라. 
단, n 은 1보다 크고 100보다 작은 자연수라고 가정하며, 문자열 메서드를 활용해야 한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def terminalZeroCount(n):
    assert 1<n<100                     # 먼저 주어진 입력값이 해당 범위인지 확인합니다.

    sum = 1                             # 팩토리얼 값을 저장하는 값
    for i in range(1, n+1):            # 1부터 n까지 반복
      sum *= i                        # 팩토리얼 값을 반복하며 갱신해줍니다.

    result = str(sum)                 # 팩토리얼 값을 문자열로 바꿔줍니다.

    Nozero_result = result.rstrip("0")     # 끝에 0을 제거한 문자열을 저장합니다.

    terminalZero = len(result) - len(Nozero_result)   # 두 문자열의 차이가 끝에 0의 갯수 차이입니다.
 
    return terminalZero                       # 끝에 있는 0의 갯수를 반환합니다.

In [ ]:
assert terminalZeroCount(5) == 1
assert terminalZeroCount(10) == 2
assert terminalZeroCount(20) == 4

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert terminalZeroCount(5) == 1
# assert terminalZeroCount(10) == 2
# assert terminalZeroCount(20) == 4

**문제 4**

거꾸로 노래 부르기 좋아하는 청개구리는 아래와 같이 노래를 부른다.  

> 끼토산 야끼토 로디어 냐느가 총깡총깡 서면뛰 를디어 냐느가

문자열이 주어졌을 때, 공백을 단위로 각 단어를 거꾸로 뒤집은 문자열을 반환하는 
`revers_words()` 함수를 작성하라.
단, 입력 문자열은 줄바꿈 없이 주어진다고 가정한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def reverse_words(s):
    s = s.split()        # 일단 주어진 문자열을 일단 공백을 기준으로 나눠서 리스트로 바꾼다.
    result = ""          # 최종 반환할 문자열을 저장하는 변수
    for lylic in s:        # 공백으로 나눠 둔 리스트의 가사 단어 하나 하나마다 반복합니다. 
      reverse = ""        # 가사 단어 하나를 뒤집을 때 저장할 변수
      for i in range(len(lylic)):    # 가사 단어의 길이만큼 반복합니다.
        reverse += (lylic[len(lylic)-1-i])   # 뒤에서부터 순서대로 reverse변수에 저장합니다.
      result += (reverse + " ")   # 뒤집어 진 단어에 공뱅글 추가하여 최종 반환할 문자열 변수에 붙여줍니다.

    return result.rstrip()        # 맨 오른쪽 공백을 제거하여 각 가사 단어를 뒤집은 문자열을 반환합니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

lyrics = '산토끼 토끼야 어디로 가느냐'
rev_lyrics = '끼토산 야끼토 로디어 냐느가'

# assert reverse_words(lyrics) == rev_lyrics

In [ ]:
assert reverse_words(lyrics) == rev_lyrics   # 오류가 발생하지 않는다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

lyrics2 = '깡총깡총 뛰면서 어디를 가느냐'
rev_lyrics2 = '총깡총깡 서면뛰 를디어 냐느가'

# assert reverse_words(lyrics2) == rev_lyrics2

In [ ]:
assert reverse_words(lyrics2) == rev_lyrics2      #  오류가 발생하지 않습니다.

**문제 5**

사용자의 이름과 전화번호를 입력 받으면 다음과 같이 반환하는 
`phone_book()` 함수를 구현하라.
단, 사용자의 이름은 두 글자에서 네 글자 사이며, 
핸드폰 번호는 9개에서 11개의 숫자가 다양한 방식으로 주어진다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def phone_book(name, phone):
    assert 2<=len(name)<=4       # 입력 이름이 2글자 이상 4글자 이하 입니다.
    

    star_name = ""               # 최종 반환할 이름을 저장할 변수 입니다.

    for i in range(len(name)):          # 이름의 길이만큼 반복합니다.
      if i == 1 :                       # 두번째 글자를 "*"로 바꾸는 부분입니다.
        star_name += "*"
      else:                             # 나머지 글자는 그대로 사용합니다.
        star_name += name[i]
      
    last_number = phone[-1:-5:-1]         # 뒤의 4개의 숫자를 거꾸로 저장합니다.
    last_number = list(last_number)       # 리스트로 바꾸어줍니다.
    last_number.reverse()                 # 4개의 숫자를 뒤집어 원래 순서대로 만들어 줍니다.
    last_number = "".join(last_number)    # join함수를 사용하여 문자열로 바꾸어줍니다.

    
    return (star_name, int(last_number)) # 바꾼 이름과 int형으로 바꿔 준 끝 4자리 숫자를 튜플로 반환합니다.

In [ ]:
assert phone_book('김강현', '010-1234-5678') == ('김*현', 5678)      # 오류가 발생하지 않습니다.
assert phone_book('강현', '01012345678') == ('강*', 5678)
assert phone_book('김강현이', '031-123-5678') == ('김*현이', 5678)
assert phone_book('강현이', '02-123-5678') == ('강*이', 5678)
assert phone_book('김강현', '010.1234.5678') == ('김*현', 5678)

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert phone_book('김강현', '010-1234-5678'`) == ('김*현', 5678)
# assert phone_book('강현', '01012345678'`) == ('강*', 5678)
# assert phone_book('김강현이', '031-123-5678'`) == ('김*현이', 5678)
# assert phone_book('강현이', '02-123-5678'`) == ('강*이', 5678)
# assert phone_book('김강현', '010.1234.5678'`) == ('김*현', 5678)

**문제 6**

변수와 함수의 이름을 지정할 때 **카멜**<font size = "2">camel</font> 표기법 또는 
**팟홀**<font size="2">pothole</font> 표기법(**스네이크**<font size="2">snake</font> 표기법으로도 불림)을 
사용한다.

* 카멜 표기법 : 소문자로 시작하고, 이어지는 단어의 시작은 대문자로 작성하는 표기법.
    - 예제: `userName`, `printMessage`, `countA` 등. 

* 팟홀 표기법 또는 스네이크 표기법 : 모두 소문자를 사용하고, 단어 사이에 밑줄기호(`_`)를 사용하는 표기법. 
    - 예제: `user_name`, `print_message`, `count_a` 등.   


카멜 표기법을 팟홀 표기법으로 변환하는 `camel2pothole()` 함수를 구현하라.

힌트: `str.isupper()`메서드는 문자열이 대문자인지를 확인해준다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def camel2pothole(s):

    pothole = ""           # 팟홀로 저장할 문자열 변수

    for i in s:            # 받은 문자열을 한글자씩 반복합니다.
      if i.isupper():      # 대문자인지 확인합니다.
        pothole += ("_" + i.lower())   # 대문자라면 "_"을 앞에 추가하고 소문자로 바꾸어 반환할 팟홀문자열 변수에 이어 붙여줍니다.
      else:
        pothole += i        # 소문자라면 그대로 이어 붙여줍니다.


    return pothole      # 바꾼 팟홀 방식 문자열을 반환합니다.

In [ ]:
assert camel2pothole("userName") == "user_name"      # 오류가 발생하지 않습니다.
assert camel2pothole("printMessage") == "print_message"
assert camel2pothole("countA") == "count_a"

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert camel2pothole("userName") == "user_name"
# assert camel2pothole("printMessage") == "print_message"
# assert camel2pothole("countA") == "count_a"

**문제 7**

아래 조건을 만족하는 `zip_strings()` 함수를 구현하라.

* 세 개의 문자열을 각각 입력 받는 `str1`, `str2`, `str3` 매개 변수를 사용한다.
* `str3`가 가리키는 값이 `str1` 과 `str2` 이 가리키는 문자열에 포함된 문자들을
    번갈아가며 결합한 결과이면 `True`를, 아니면 `False` 를 반환한다.
* 두 문자열의 길이가 다르면, 가능한 데까지만 문자를 번갈아가며 결합하고 나머지는 그대로 적어준다.    

힌트: `zip()` 함수 활용 가능.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def zip_strings(str1, str2, str3):
    
    if len(str1) <= len(str2):      # 둘 중에 더 긴 문자열과 짧은 문자열을 구분하여 저장해줍니다.
      long_str = str2
      short_str = str1
    else:
      long_str = str1
      short_str = str2

    len_dif = len(long_str) - len(short_str)       # 두 문자열 길이의 차이를 저장합니다.

    swich_str1 = ""                         # 어떤 문자열을 먼저 쓰냐에 따라 번갈아 만들 수 있는 문자열 첫번째 경우 
    swich_str2 = ""                         # 두번째 경우

    for (first, second) in zip(str1, str2):
      swich_str1 += (first + second)           # str1을 먼저 하는 경우
      swich_str2 += (second + first)           # str2를 먼저 하는 경우

    if len_dif != 0:                           # 문자열의 길이가 차이가 있을때 번갈아 쓴 후 남은 긴 문자열을 덧붙여준다
        swich_str1 += long_str[-(len_dif):] 
        swich_str2 += long_str[-(len_dif):]  
    
    
    return (str3 == swich_str1) or (str3 == swich_str2)  # str3가 번갈아 만들수 있는 2가지 문자열 중에 하나라도 해당되는지 확인하여
                                                        # 하나라도 있다면 True를 반환 아니라면 False를 반환

In [ ]:
assert zip_strings('dog', 'cat', 'dcoagt') == True        #  오류가 발생하지 않습니다.
assert zip_strings('cat', 'dog', 'dcoagt') == True
assert zip_strings('dog', 'cat', 'cdoagt') == False
assert zip_strings('computing', 'math','cmoamtphuting') == True
assert zip_strings('math', 'computing','cmoamtphuting') == True
assert zip_strings('math', 'computing', 'mcoamtphuting') == False

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert zip_strings('dog', 'cat', 'dcoagt') == True
# assert zip_strings('cat', 'dog', 'dcoagt') == True
# assert zip_strings('dog', 'cat', 'cdoagt') == False
# assert zip_strings('computing', 'math','cmoamtphuting') == True
# assert zip_strings('math', 'computing','cmoamtphuting') == True
# assert zip_strings('math', 'computing', 'mcoamtphuting') == False

## 리스트

**문제 8**

`num_list` 변수가 아래처럼 선언되었다.

In [ ]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]

(1) `9`를 츨력하는 코드를 작성하여라.

In [ ]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

print(num_list[-1])

9

(2) `7`를 출력하는 코드를 작성하여라.

In [ ]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

print(num_list[1][1])

7

(3) `[3, [4, 5]]`를 출력하는 코드를 작성하여라.

In [ ]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

print(num_list[0][2:4])

[3, [4, 5]]

**문제 9**

어느 평가위원회는 평가 점수 중 최고점과 최저점을 제외한 점수들의 평균을 최종 평가 점수로 부여하려고 한다. 
선수 A의 점수가 다음 리스트로 주어졌다.

In [ ]:
A = [85, 96, 78, 88, 81, 92, 73]

선수 A의 최종 평가 점수를 출력하는 코드를 작성하여라.

힌트: `sum()` 함수 또는 `numpy.mean()` 함수 활용

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
max_A = max(A)       # A의 최댓값을 찾습니다.
min_A = min(A)      # A의 최솟값을 찾습니다.

A.remove(max_A)     # 최댓값을 제거 합니다.
A.remove(min_A)     # 최솟값을 제거 합니다.

sum_A = sum(A)      # 남은 A의 점수들의 합을 구합니다.

average_A = sum_A / len(A) # 그리고 그 합을 A 리스트의 갯수만큼 나누어 평균을 구해줍니다.

84.8

In [ ]:
assert average_A == 84.8   # 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert average_A == 84.8

**문제 10**

리스트을 항목을 내림차순으로 정렬한 값을 반환하는 `rev_list()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def rev_list(aList):
    aList.sort()   # sort() 메서드를 이용하여 작은 값부터 순서대로 정렬한다.
    aList.reverse()  # reverse() 메서드를 이용하여 순서를 뒤집어서 큰값부터 내림차순으로 정렬합니다.

    return aList     # 정리한 리스트를 반환합니다.

In [ ]:
assert rev_list([2, 4, 1, 2]) == [4, 2, 2, 1]       # 오류가 발생하지 않습니다.
assert rev_list(['c', 'f', 'a']) == ['f', 'c', 'a']
assert rev_list(['_ff', 'ABC', 'abd']) == ['abd', '_ff', 'ABC']

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert rev_list([2, 4, 1, 2]) == [4, 2, 2, 1]
# assert rev_list(['c', 'f', 'a']) == ['f', 'c', 'a']
# assert rev_list(['_ff', 'ABC', 'abd']) == ['abd', '_ff', 'ABC']

**문제 11**

리스트 `['Life', 'is', 'too', 'short']` 를 이용하여
문자열 `"Life is too short"` 을 생성하는 코드를 작성하라.
단, 리스트의 `pop()` 메서드를 사용해야 한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "Life is too short" 이 직접 언급되지 않아야 한다.

input_list = ['Life', 'is', 'too', 'short']

output_str = ""                 # 문자열 변수입니다.

input_list.reverse()          # input_list의 순서를 뒤집어 줍니다.
for i in range(len(input_list)):    # 리스트의 크기만큼 반복해줍니다.
  output_str += (input_list.pop() + " ") # pop을 이용해 뒤에서부터 꺼내어 공백을 더해서 output_str에 붙여줍니다. 

output_str = output_str.rstrip()  # 맨 마지막 오른쪽 공백을 제거하여 저장합니다.

In [ ]:
assert output_str == "Life is too short"   # 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert output_str == "Life is too short"

**문제 12**

정수 `a`와 자연수 `n`을 입력받아, `n`개의 항목을 갖는 리스트를 출력하는 
`int_clone()` 함수를 작성하여라.
단, 리스트의 항목은 `a`부터 시작하고, 그 다음 항목은 이전 항목보다 `a`만큼 크다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def int_clone(a, n):
    assert n > 0      # n은 0보다 크다
    result = []        # 최종 반환할 리스트이다.

    if a >= 0 :      # a가 0 또는 0보다 큰 경우
      for i in range(n):      # n 횟수만큼 반복한다.
        result.append(a + (a*i))     # a부터 시작해서 n번 반복하여 a를 점점 더해준 값들을 최종 리스트에 더해준다. 

    else:                    # a가 음수인 경우이다.
      for i in range(n):     # n 횟수 반복한다.
        result.append(a - (a*i))   #이번에는 a가 음수이므로 빼주는 것이 더 큰 값이 나온다. 그것을 리스트에 추가해준다.
      

    return result      # 최종 리스트를 반환한다.

In [ ]:
assert int_clone(3, 4) == [3, 6, 9, 12]        # 오류가 발생하지 않는다.
assert int_clone(2, 3) == [2, 4, 6]

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert int_clone(3, 4) == [3, 6, 9, 12]
# assert int_clone(2, 3) == [2, 4, 6]

**문제 13**

주어진 정수를 오름차순으로 정렬하여, 리스트 형태로 반환하는 `int2sorted_list()` 함수를 작성하라.
단, 양의 정수만 입력값으로 사용한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def int2sorted_list(an_int):
    assert an_int > 0

    result = []            # 최종 반환할 리스트입니다.

    for i in str(an_int):   # 입력받은 정수를 문자열로 바꾸어 하나씩 반복합니다. 
      result.append(i)       # 리스트에 하나씩 추가해줍니다.
      
    result.sort()            # sort() 메소드를 통해 오름차순으로 정렬해줍니다.

    return result               # 최종 리스트를 반환합니다.

In [ ]:
assert int2sorted_list(32145) == ['1', '2', '3', '4', '5']      # 오류가 발생하지 않습니다.
assert int2sorted_list(435) == ['3', '4', '5']

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert int2sorted_list(32145) == ['1', '2', '3', '4', '5']
# assert int2sorted_list(435) == ['3', '4', '5']

**문제 14**

교육 참가자 명단과 수료자 명단이 아래처럼 리스트로 주어다.

In [ ]:
participant = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']
completion = ['Ryan', 'Muzi', 'Neo', 'Choonsik']

수료하지 못한 사람들의 명단을 리스트로 출력하는 코드를 작성하여라.
단, 참여자 중 동명이인은 없고, 순서는 중요하지 않다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 답을 직접 언급하지 말아야 한다.

unfinished = participant       # 참가자를 먼저 수료 못한 사람 리스트에 복사합니다.

for finished in completion:          # 수료자를 반복합니다.
  unfinished.remove(finished)       # 수료자가 수료 못한 리스트에 있으면 제거합니다.

  # 결과적으로 수료 못한 사람만 남은 리스트가 unfinished에 남게 됩니다.

In [ ]:
assert unfinished == ['Apeach', 'Tube']      # 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert unfinished == ['Apeach', 'Tube']

**문제 15**

어느 평가위원회는 평가 점수 중 최고점과 최저점을 제외한 점수들의 평균을 최종 평가 점수로 부여하려고 한다. 
선수 A의 점수가 다음 리스트로 주어졌다.

In [ ]:
A = [85, 96, 78, 88, 81, 92, 73]

선수 A의 최종 평가 점수를 출력하는 코드를 작성하여라.

힌트: `sum()` 함수 또는 `numpy.mean()` 함수 활용

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
max_A = max(A)       # A의 최댓값을 찾습니다.
min_A = min(A)      # A의 최솟값을 찾습니다.

A.remove(max_A)     # 최댓값을 제거 합니다.
A.remove(min_A)     # 최솟값을 제거 합니다.

sum_A = sum(A)      # 남은 A의 점수들의 합을 구합니다.

average_A = sum_A / len(A) # 그리고 그 합을 A 리스트의 갯수만큼 나누어 평균을 구해줍니다.

In [ ]:
assert average_A == 84.8      #  오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert average_A == 84.8

**문제 16**

임의로 중첩된 리스트를 풀어헤쳐 중첩이 없는 리스트를 생성하는
`flatten()` 함수를 `while` 반복문을 이용하여 구현하라.
단, 재귀는 허용되지 않는다.

참고: 이 문제는 조금 어려우며, [stackoverflow: 임의로 중첩된 리스트 납작하게 만들기](https://stackoverflow.com/questions/10823877/what-is-the-fastest-way-to-flatten-arbitrarily-nested-lists-in-python) 를 참고할 수 있다.

In [ ]:
def flatten(aList):

  i = 0                 # 주어진 리스트에 접근할 인덱스 값을 0으로 초기화 해줍니다.

  while i < len(aList):          # 리스트의 끝까지 반복해줍니다.
        while True:              # 항목을 하나하나 검사해주는 부분입니다.

          if isinstance(aList[i], str):   # 요소가 문자형일 때 시퀀스로 판단되어 무한루프를 돌게 되므로
            break                         # 문자형일 때 처리하는 방법이다.
            
          try:                    # 리스트 슬라이싱은 시퀀스 자료형이 필요합니다. 따라서 중첩된 리스트가 있다면 try문이 실행됩니다.
            aList[i:i+1] = aList[i]   # 중첩된 리스트가 하나 제거 됩니다.
                                      # 그리고 while문을 돌면서 중첩된 리스트들이 제거됩니다.
          except (TypeError, IndexError):   # 중첩되지 않은 항목이라면 안에 while문을 벗어납니다.
            break

        i += 1 # 다음 항목에 접근하기 위해 인덱스를 올려줍니다.

  return aList           # 중첩된 리스트를 제거한 중첩이 없는 리스트를 반환합니다.

In [ ]:
a= [1,2,3,4,[5,6,[[7]],[15]], 8, [9,[10,11]], 12, 13, [14, 15]]

flatten(a)          # 모든 중첩이 제거 되었습니다.

[1, 2, 3, 4, 5, 6, 7, 15, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
b = ['a','b',[['c'],'d',['e'],['f',['g'],['e']],'f'],'g','h'] 

flatten(b)   # 문자열 요소에 대해서도 중첩이 제거되었습니다.

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'e', 'f', 'g', 'h']

## 튜플

**문제 17**

튜플이 인자로 들어오면 튜플의 기존 항목들이 역순으로 추가된 튜플을 반환하는 
`tuple_double_rev()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def tuple_double_rev(t):

    t2list = list(t)           # 리스트의 메서드를 사용하기 위해 리스트로 바꾼다.
    t2list.reverse()            # reverse() 메서드를 사용하여 순서를 바꾼 리스트를 만든다.

    t2tuple = tuple(t2list)     # 다시 튜플로 만들어준다.


    return t + t2tuple           # 기존의 튜플에 순서를 바꾼 튜플을 이어붙인 튜플을 반환한다.

In [ ]:
assert tuple_double_rev((1, 2, 3)) == (1, 2, 3, 3, 2, 1)        # 오류가 나지 않습니다.
assert tuple_double_rev(('a', 'b')) == ('a', 'b', 'b', 'a')

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert tuple_double_rev((1, 2, 3)) == (1, 2, 3, 3, 2, 1)
# assert tuple_double_rev(('a', 'b')) == ('a', 'b', 'b', 'a')

## 집합

**문제 18**

세 집합 A, B, C가 다음과 같이 주어졌다.

In [ ]:
A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

* $A \cap B \cap C$

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.


AnBnC = A & B & C        # 교집합 연산자 사용

In [ ]:
assert AnBnC == {4}   # 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert AnBnC == {4}

* $(A \cup B \cup C) - A$

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
 

ArBrCmA = (A|B|C)-A   # 합집합 연산자와 차집합 연산자 사용

In [ ]:
assert ArBrCmA == {1, 3, 10}   # 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert ArBrCmA == {1, 3, 10}

**문제 19**

리스트가 입력되면 중복된 항목은 제거하고 남은 항목들을 내림차순으로 정렬한
리스트를 반환하는 `unique_values()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def unique_values(aList):

    aSet = set(aList)           # aList를 집합으로 자료형을 바꿉니다. 그러면 중복된 항목들이 삭제되고 하나만 남습니다.
    aList = list(aSet)          # 다시 집합으로 바꾼것을 리스트로 바꿉니다.
    aList.sort()                # 오름차순으로 정리하는 sort()메소드를 사용합니다.
    aList.reverse()             # reverse() 메소드로 순서를 바꿔주면 내림차순으로 정렬이 됩니다.

    return aList                # 최종적으로 조건을 맞춘 리스트를 반환합니다.

In [ ]:
assert unique_values([1, 2, 1, 3]) == [3, 2, 1]
assert unique_values(['z', 'f', 'a', 'z']) == ['z', 'f', 'a']

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert unique_values([1, 2, 1, 3]) == [3, 2, 1]
# assert unique_values(['z', 'f', 'a', 'z']) == ['z', 'f', 'a']

## 사전

**문제 20**

다음 `participants` 변수는 모임일과 그날 참석한 사람들의 이름을 저장하는 사전을 가리킨다.

In [ ]:
participants = {'1월3일' : ['현성', '문정', '현무', '강현'], 
                '2월10일' : ['문정', '강현', '정훈'], 
                '3월7일' : ['현성', '연아', '현무', '지아']}

(1) 그런데 3월7일 모임에 강현이가 참석하였는데, 이 정보가 누락되었다.  
3월7일 참석자 명단 마지막에 '강현'을 추가한 다음, 아래와 같은 형식으로 출력하는 코드를 작성하여라.   

```python
3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현'], 총 5명이 참석했습니다.
```

In [ ]:
# pass 를 적절한 명령문과 표현식으로 대체하라.
# 단, 앞서 언급된 출력값을 직접 사용하지는 않아야 한다.

participants['3월7일'].append('강현')            # 사전의 3월7일 key에 해당하는 값의 리스트에 강현을 추가해줍니다.

key = '3월7일'                                     # key를 3월7일로 했습니다.
print(f"{key} 모임에는 {participants[key]}, 총 {len(participants[key])}명이 참석했습니다.")  # 조건에 따라 포메팅에 맞춰
                                                                                      # 키, 해당 값, 해당값의 길이로 출력했습니다.

3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현'], 총 5명이 참석했습니다.

(2) 이름을 입력받아 1월3일 모임에 참석했으면 `True`, 아니면 `False`를 출력하는 
`attended()` 함수를 작성하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def attended(name):
    if name in participants['1월3일']:    # 1월 3일 모임 리스트에 해당 이름이 있다면 
      return True                       # True 반환
    else:                             # 없다면
      return False                    # False 반환

In [ ]:
assert attended("현성") == True
assert attended("찬호") == False

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert attended("현성") == True
# assert attended("찬호") == False

**문제 21**

어느 반 학생들의 이름이 리스트로 주어졌다.

In [ ]:
students = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']

번호와 이름을 키와 값으로 갖는 사전을 출력하는 코드를 작성하여라.
단, 번호는 이름의 오름차순으로 부여되고, 동명이인은 없다고 가정한다.  

힌트: `sorted()` 함수와 `enumerate()` 함수를 이용할 수 있다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

sort_student = sorted(students)  # 오름차순으로 정렬된 학생 리스트 입니다.

result_dic = {}                     # 결과를 담을 사전을 생성한다.

for i, name in enumerate(sort_student, start = 1):   # enumerate() 함수를 사용하여 이름 순서대로 1부터 부여되며 반복됩니다.
  result_dic[str(i)] = name                       # 부여된 번호의 문자열을 키값으로 하고 이름을 값으로 하여 사전에 추가해줍니다.

name_numbers = result_dic                          # 만들어진 사전을 name_numbers에 저장해줍니다.

In [ ]:
assert name_numbers == {'1': 'Apeach', '2': 'Choonsik', '3': 'Muzi', '4': 'Neo', '5': 'Ryan', '6': 'Tube'}

# 오류가 발생하지 않습니다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert name_numbers == {'1': 'Apeach', '2': 'Choonsik', '3': 'Muzi', '4': 'Neo', '5': 'Ryan', '6': 'Tube'}`

**문제 22**

A대학의 일반차량에 대한 주차요금은 아래와 같다.   

* 2,000원/최초 30분, 초과 10분마다 500원, 1일(24시간)은 40,000원   

일반차량에 대한 입출차 기록이 리스트로 주어졌다.

In [ ]:
car_in_out = ['07:30 1234 IN', 
              '07:35 2580 IN',
              '08:15 0328 IN',
              '08:45 2580 OUT',
              '08:55 9876 IN',
              '09:20 9876 OUT',
              '11:00 1597 IN',
              '15:15 1234 OUT',
              '21:00 0328 OUT']

차량별로 주차시간과 주차요금이 사전 자료형으로 정리하는 코드를 작성하라.
단, 아래 사항을 가정한다.

* 차량번호는 차량 뒷번호 4자리를 기록하고, 동일한 차량번호는 없다.
* 시간은 24시간제를 사용하고, 모든 차량은 00:00부터 23:59분 사이에 한 번씩만 입출차 한다.
* 아직 출차하지 않은 차량에 대해서는 주차시간과 주차요금을 정리할 수 없다.

In [ ]:
# pass 와 None 을 적절한 명령문과 표현식으로 대체하라.
# 결과값을 직접 사용할 수는 없다.
car_parking_log = {}             # 사전형으로 선언합니다.
log = {}               # 각 차의 입출차를 기록할 사전입니다.

for each_log in car_in_out:                    # 입출차 기록 리스트를 하나하나 반복한다.
  time, number, inorout = each_log.split()     # 시간, 차 번호, 입출차 종류로 나눈다.
  if inorout == "IN":                          # 입차인 경우
    car_parking_log[number] = {inorout:time}               # log 사전에 차번호를 키로 하고 
                                               # 다시 입출차를 키로 하고 시간을 값으로 하는 사전을 값으로 하는 사전을 기록합니다.
  else:                                       # 출차인 경우
    car_parking_log[number].update({inorout:time})        # 해당 차 번호 키의 값에 출차를 키로 하고 시간을 값으로 하는 키와 값을 추가해줍니다.

for car_number in car_parking_log.keys():                       # 이제 log 사전을 바탕으로 입출차의 시간을 계산할것입니다.
                                              # log의 키인 차 번호에 대해 반복 합니다.
  if car_parking_log[car_number].get("OUT") == None:            # 만약 차가 아직 출차를 하지 않았다면
    pass                                              # 그냥 넘어갑니다.                   

  else:                                               # 출차하였다면
    start_hour = int(car_parking_log[car_number].get("IN")[0:2])   # 차의 입차 시간의 시(hour)
    start_minute = int(car_parking_log[car_number].get("IN")[3:])  # 차의 입차 시간의 분(minute)
  
    end_hour = int(car_parking_log[car_number].get("OUT")[0:2])    # 차의 출차 시간의 시(hour)
    end_minute = int(car_parking_log[car_number].get("OUT")[3:])   # 차의 출차 시간의 분(minute)

    start_minutes = (start_hour * 60) + start_minute   # 입차 시간을 하루를 기준으로 분으로 환산
    end_minutes = (end_hour * 60) + end_minute          # 출차 시간을 하루를 기준으로 분으로 환산

    minutes_dif = end_minutes - start_minutes              # 차의 주차시간을 분으로 환산

    car_parking_log[car_number].update({"parking_duration" : minutes_dif})  # log 사전에 parking_duration을 키로하고 주차시간을 값으로 하는
                                                               # 키와 값 쌍을 추가해줍니다.

    # 이제 여기선 요금을 계산합니다.

    if minutes_dif <= 30:           # 최초 20분에서 10분 초과 전까지입니다.                                                                   
      price = 2000                  # 2000원 입니다.
    elif minutes_dif > 30:          # 최초 20분에서 10분 초과 할때 10분초과 할 때마다 500원 추가된다.
      addi_fee = 500 * ((minutes_dif - 20-1) // 10)    # 추가 요금 계산 과정 딱 10분은 초과가 아니므로 1을 빼주어 반영시킨다.
      price = 2000 + addi_fee                # 최초요금과 추가 요금을 더한 최종 요금이다. 

      if price >= 40000:                 # 요금이 4만원이 넘어가면 24시간권으로 넘어간다.
        price = 40000                    # 요금 4만원이다.

                                        # (60 * 24 - 30) // 10 * 500 + 2000 = 72500 24시간을 초과 요금으로 계산하면
                                        # 4만원이 넘으므로 40000원이 넘는 시점부터 24시간 요금으로 바꿔준다.
    
    car_parking_log[car_number].update({"parking_fee" : price})


  

  
car_parking_log

{'0328': {'IN': '08:15',
  'OUT': '21:00',
  'parking_duration': 765,
  'parking_fee': 39000},
 '1234': {'IN': '07:30',
  'OUT': '15:15',
  'parking_duration': 465,
  'parking_fee': 24000},
 '1597': {'IN': '11:00'},
 '2580': {'IN': '07:35',
  'OUT': '08:45',
  'parking_duration': 70,
  'parking_fee': 4000},
 '9876': {'IN': '08:55',
  'OUT': '09:20',
  'parking_duration': 25,
  'parking_fee': 2000}}

위 코드를 실행하면 다음과 같이 보여져야 한다.

In [ ]:
answer = {'1234': {'IN': '07:30',
                   'OUT': '15:15',
                   'parking_duration': 465,
                   'parking_fee': 24000},
          '2580': {'IN': '07:35',
                   'OUT': '08:45',
                   'parking_duration': 70,
                   'parking_fee': 4000},
          '0328': {'IN': '08:15',
                   'OUT': '21:00',
                   'parking_duration': 765,
                   'parking_fee': 39000},
          '9876': {'IN': '08:55',
                   'OUT': '09:20',
                   'parking_duration': 25,
                   'parking_fee': 2000},
          '1597': {'IN': '11:00'}}

In [ ]:
assert car_parking_log == answer  # 오류가 발생하지 않는다.

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert car_parking_log == answer