<a href="https://colab.research.google.com/github/woscc123/asn/blob/master/2016250012_%EA%B9%80%EC%A7%84%EC%83%81_3%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 기본자료형

**문제 1**

`input()` 함수를 이용하여 입력받은 정수를 지정된 방식으로 출력하는 코드를 작성하라.
단, 정수는 최대 6자리의 수를 입력한다고 가정한다.

입력: 

```python
123
```

출력:

```python
입력하신 숫자는 000123입니다.
```

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

N = input()                              # 사용자로부터 문자열을 입력을 받습니다.

print(f'입력하신 숫자는 {N:0>6}입니다.')  # 문자열 포멧팅을 이용하여 print()함수로 출력합니다.

123
입력하신 숫자는 000123입니다.

 **문제 2**

오늘의 요일이 주어질 때, 100일 후의 요일을 출력하는 코드를 작성하여라.
단, 일, 월, 화, 수, 목, 금, 토, 일 각각은 0, 1, 2, 3, 4, 5, 6 으로 대신한다.

입력:

```python
2
```

출력:

```python
4
```

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

today = int(input())       # 오늘의 날짜를 숫자로 입력 받습니다. 그리고 int 형으로 형변환합니다.

later = (today + 100) % 7          # 100일 후 이므로 100을 today에 더해준다. 그리고 일주일은 7일 이기에 7로 나눈 나머지가 그 100일 후 요일에 해당된다.

print(later)               # 100일 후 요일을 출력한다.

2
4

**문제 3**

홍길동의 주민등록번호는 881120-1068234이다.
홍길동의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

힌트: 문자열 슬라이싱을 활용한다.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

hong = '881120-1068234'

first_part = hong[:6]

second_part = hong[7:]

print(f"연월일 부분은 {first_part}이고, 뒷 부분은 {second_part}입니다.")

연월일 부분은 881120이고, 뒷 부분은 1068234입니다.

**문제 4**

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

힌트: 문자열 인덱싱을 활용한다.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.
number = input("(앞6자리)-(뒷7자리) 형식에 맞게 써주세요 : ")   # 입력을 받습니다.

if number[7] == "1" :                           # 문자열 비교를 통해 "1"이면
  print(f"{number[7]} 이고, 남자입니다.")       # 남자라고 출력합니다.
elif number[7] == "2":                          # 문자열 비교로 "2"이면
  print(f"{number[7]} 이고, 여자입니다.")       # 여자라고 출력합니다.

(앞6자리)-(뒷7자리) 형식에 맞게 써주세요 : 970727-1234567
1 이고, 남자입니다.

**문제 5**

다음과 같이 `a`, `b` 두 변수를 선언한 후 `a` 의 두 번째 요솟값을 변경하면 `b` 의 값은 
어떻게 되는지 확인하고 그 이유를 설명하라.

```python
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
[1, 2, 4]
```

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.


a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

b의 두번 째 요소가 변경된 상태로 출력됩니다. 이유는 a와 b는 같은 메모리의 값을 참조하고 있기 때문입니다. 즉, 같은 값에 대해 접근할 수 있는 변수가 2개인 것입니다.

In [ ]:
# 확인해 보겠습니다.

print(id(a))   # id 함수는 변수가 참조하는 메모리 주소를 보여줍니다.
print(id(b))

print(id(a) == id(b))  # 즉 서로 참조하는 메모리 주소가 같다는 말입니다.

# 다시 한번 말하자면 a와 b는 같은 메모리의 주소를 가르키기에 a를 통해 값을 바꾸었다고 하더라도 그 값은 b도 참조하고 있기에
# b로 접근하여도 변경된 정보가 반영되어 반환됩니다. 하나의 값에 대해 참조하는 변수가 2개인 것입니다.

139759949627056
139759949627056
True

**문제 6**

과일 이름으로 구성된 문자열 하나가 주어졌다.

In [ ]:
fruit = "banana apple orange pineapple mango strawberry cherry"

(1) `fruit` 변수로부터 her 문자열을 추출하는 코드를 작성하여라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.


fruits = list(fruit.split())    # 먼저 fruit 문자열에 포함된 과일 이름들을 공백으로 나눠서 리스트 형태로 저장합니다.

fruits[-1][1:4]            # 마지막 요소인 cherry에서 2번째부터 4번째 문자열까지 추출해냅니다.

'her'

(2) `fruit` 변수로부터 oae 문자열을 추출하는 코드를 작성하여라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

fruit[-19:-26:-3]      # fruit 문자열의 망고에서 거꾸러 3칸씩 이동하여 출력하면 다음과 같은 문자열을 얻습니다.

'oae'

(3) `fruit` 변수로부터 yrrehc 문자열을 추출하는 코드를 작성하여라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

fruits[-1][::-1]               # fruits 리스트의 마지막 요소인 cherry를 거꾸로 추출하였습니다.

'yrrehc'

**문제 7**

다음 문자열이 주어졌다.

```python
'n o r t h w e s t e r n'
```

위 문자열을 이용하여 아래 문자열을 생성하는 코드를 작성하라.

```python
'Northwestern'
```

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

given = 'n o r t h w e s t e r n'

no_space = given.replace(" ","")       # 공백을 제거.    replace()로 공백을 빈문자열로 바꾼다.

result = no_space.capitalize()         # capitalize()로 첫문자를 대문자로 변경해준다.

result

'Northwestern'

**문제 8**

아래 노래 가사를 활용하는 문제이다.

In [ ]:
song = "When you are smiling, the whole world smiles with you"

(1) `for` 문을 사용하여 `song`에서 `a`가 등장하는 횟수를 구하는 코드를 작성하라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

a_count = 0                     # a가 등장하는 횟수 

for i in song :                 # 반복문으로 song 문자열 문자 하나하나에 대해 반복한다.
  if i == "a":                  # "a"랑 문자 비교를 하여 맞다면
    a_count += 1                # 횟수를 1증가 시킨다.


print(a_count)

1

(2) 반복문을 사용하여  `song`에서 대소문자 구별없이 `w`가 등장하는 횟수를 구하는 코드를 작성하라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

w_count = 0                       # w가 등장하는 횟수를 저장하는 변수

song = song.lower()               # 전부다 소문자로 바꾸어준다. 대소문 구별 무시하기 위함

for i in song :                  # for 반복으로 song의 문자열에 모든 문자 하나하나에 대해 반복한다.
  if i == "w":                   # "w"랑 문자가 일치하면
    w_count += 1                # 카운트를 1증가한다.


print(w_count)

4

**문제 9**

`num`이 가리키는 정수가 3으로 시작하거나 3을 포함하는 경우에는
`num` 의 세제곱을 출력하고, 
아닌 경우에는 `num` 에서 2를 뺀 값을 출력하는 코드를 작성하라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

num = input("정수를 입력해주세요 : ")   # 입력받기

have_3 = False                          # 3을 가지고 있는지 확인하는 것

for i in num:                          # 입력받은 문자열에 대해 하나씩 반복한다.
  if i == "3":                         # 3을 가지고 있는지 확인한다.
    have_3 = True                      # 가지고 있다면 3을 가지고 있다고 판단하여 have_3을 True로 바꾼다.
    break                              # 3이 있다면 즉시 반복문 탈출

if have_3 :                              # 3이 있을때
  result = int(num)**3
else:                                   # 없을때
  result = int(num)-2                

print(result)

정수를 입력해주세요 : 13
2197

In [ ]:
# 다른 방법

N = input("정수를 입력 해 주세요 : ")

if ("3" in N) :                      # in을 이용하여 "3"이 있는 확인한다.
  print(int(N)**3)
else:
  print(int(N)-2)

정수를 입력 해 주세요 : 13
2197

**문제 10**

정수 나눗셈의 몫을 계산하는 코드를 `while` 반복문을 이용하여 구현한다.
단, 몫 연산자 `//` 는 절대 사용하지 않으며, 덧셈과 뺄셈만 사용한다. 

```
number = 43
divisor = 7
answer = 0
```

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

number, divisor = map(int, input("나누어질 숫자, 나눌 숫자 순으로 입력 해주세요 : ").split()) # 정수를 입력받습니다.

answer = 0              # 몫을 초기화 합니다.

while number >= divisor:     # 나누어질 숫자가 나눌 숫자보다 크거나 같으면 계속 반복됩니다.
  number -= divisor          # 나누어질 숫자에 나눌 숫자를 뺍니다. 몫 1이 추가되는 겁니다.
  answer += 1                # 몫을 1 증가합니다.

print(f"몫은 {answer} 입니다.")

나누어질 숫자, 나눌 숫자 순으로 입력 해주세요 : 35 6
몫은 5 입니다.

**문제 11**

어느 한 택배의 무게에 따른 가격표가 다음과 같다.

| 5kg 미만 | 5kg 이상~10kg 미만 | 10kg 이상 |
|:-------:|:--------------------:|:---------:|
|5.000원 | 8,000원| 10,000원|

우편물의 무게가 주어졌을 때, 택배 가격을 알려주는 프로그램을 만들어라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

weight = float(input("무게(kg)를 입력해 주세요 : "))  # 무게를 입력받습니다. 무게는 소수점이 있을수도 있으니 float형으로 바꾸어줍니다.


if weight < 5.0 :                # 5kg 미만일 때
  print("5000원")
elif 5 <= weight < 10.0:            # 5kg 이상 10kg 미만일 때
  print("8000원")
else:                              # 10kg 이상일 때 (무게는 음수가 없다.)
  print("10000원")

무게(kg)를 입력해 주세요 : 7
8000원

**문제 12**

0부터 100까지의 숫자 중에서 3의 배수와 7의 배수를 모두 찾아 출력한 다음, 
찾은 수들을 모두 더하여 아래와 같이 출력하는 코드를 작성하여라.

```python
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 OOO이다.
```

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

save_list = []                    # 찾은 숫자들을 저장할 리스트

for i in range(101):            # 0~100까지 반복한다.
  if (i % 3 == 0) or (i % 7 == 0):     # 3의 배수 혹은 7의 배수인지 찾는다.
    save_list.append(i)             # 리스트에 저장 해 둔다.



list_sum = sum(save_list)        #  sum함수를 통해 합을 구한다.

print(f"찾은 3의 배수와 7의 배수는 {save_list}이고")
print(f"0~100의 숫자 중 3의 배수와 7의 배수들의 합은 {list_sum}이다.")

찾은 3의 배수와 7의 배수는 [0, 3, 6, 7, 9, 12, 14, 15, 18, 21, 24, 27, 28, 30, 33, 35, 36, 39, 42, 45, 48, 49, 51, 54, 56, 57, 60, 63, 66, 69, 70, 72, 75, 77, 78, 81, 84, 87, 90, 91, 93, 96, 98, 99]이고
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 2208이다.

**문제 13**

임의의 자연수 n이 주어졌을 때, 1부터 n까지의 자연수 중에서 3의 배수이거나 
3을 포함하는 숫자들의 합을 구하여라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

n = int(input("자연수를 입력해주세요 : "))    # 자연수를 입력 받는다.

storage = []              # 찾은 숫자를 저장할 리스트

for i in range(1,n+1):       # 1부터 n까지 반복
  if (i % 3 == 0) :           # 3의 배수이면 리스트에 추가
    storage.append(i)
  else:                      # 3의 배수가 아닌 경우
    for j in str(i):         # 숫자에 3이 포함되는지 확인을 위해 문자열로 바꾼다음 숫자 자릿수 하나하나 반복한다.
      if (j == "3"):        # 3이 포함되어 있다면 리스트에 추가
        storage.append(i)


print(sum(storage))      # 합을 출력

자연수를 입력해주세요 : 50
694

**문제 14**

자연수 n이 주어졌을 때, n의 약수를 모두 출력하는 코드를 작성하여라. 단, n은 임의로 둔다.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

n = int(input("자연수를 입력해주세요 : ")) # 자연수를 입력을 받습니다.

divisor_list = []                # 약수를 저장할 리스트

for i in range(1, n+1):         # 1부터 n까지 숫자를 반복합니다.
  if (n % i == 0) :              # n을 나누어서 나머지가 없이 나누어진다면 리스트에 추가합니다.
    divisor_list.append(i)

print(f"{n}의 약수는 {divisor_list} 입니다.") # 출력합니다.

자연수를 입력해주세요 : 51
51의 약수는 [1, 3, 17, 51] 입니다.

**문제 15**

일찍 태어난 사람이 늦게 태어난 사람보다 정확히 두 배의 나이를 갖는 경우가 발생한다. 
예를 들어, 2003년 7월 12일에 태어난 사람과 2006년 9월 30일에 태어난 사람은
2009년 12월 19일에 서로의 나이가 딱 두 배가 된다.

이를 확인하는 코드를 `Timestamp` 자료형을 이용하여 작성하라.

In [ ]:
import pandas as pd 

d1 = pd.Timestamp('2003-07-12')
d2 = pd.Timestamp('2006-09-30')

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

import pandas as pd        # 시간을 다루기 위해 필요한 모듈을 임포트합니다.
import numpy as np         # 넘파이 모듈도 가져옵니다.

d1 = pd.Timestamp(input("일찍 태어난 사람의 생년월일을 yyyy-mm-dd 형식에 맞춰 입력해주세요 : "))   # 연장자의 나이를 받습니다. 그리고 Timestamp 자료형으로 다룹니다.
d2 = pd.Timestamp(input("늦게 태어난 사람의 생년월일을 yyyy-mm-dd 형식에 맞춰 입력해주세요 : "))   # 어린 사람의 나이를 받습니다. 마찬가지로 Timestamp 자료형입니다.


difference = d2 - d1               # 두 사람의 차이를 계산합니다.
twice_day = d2 + difference        # 두 사람의 나이 차이는 고정되어 있기 때문에 그 차이만큼 어린 사람이 나이를 먹으면 서로 2배 관계가 됩니다.



print(f"두사람의 나이가 2배가 되는 날짜는 {twice_day.date()} 입니다.")

일찍 태어난 사람의 생년월일을 yyyy-mm-dd 형식에 맞춰 입력해주세요 : 2003-07-12
늦게 태어난 사람의 생년월일을 yyyy-mm-dd 형식에 맞춰 입력해주세요 : 2006-09-30
두사람의 나이가 2배가 되는 날짜는 2009-12-19 입니다.

**문제 16**

아래 명령문을 실행할 때 오류가 발생한다. 이유가 무엇인가?

```python
if 3/0 or True:
    print("나는 출력되지 않아요.")
```

이유를 설명하세요.

In [ ]:
if 3/0 or True:
    print("나는 출력되지 않아요.")

ZeroDivisionError: ignored

파이썬에서는 or 연산과 and 연산을 할 때, 시간 절약을 위해 왼쪽의 식으로 전체가 결정되면 오른쪽 비교식은 판단하지 않는 것이다. 따라서 위의 코드에서 왼쪽 연산인 3/0은 0으로 나누는 것은 오류가 발생하기에 if문 내부가 실행되지 못하고 오류 발생했다는 문구가 출력됩니다.

**문제 17**

아래 명령문을 실행할 때 오류가 발생하지 않는다. 이유가 무엇인가?

```python
if True or 3/0:
    print("오류가 발생하지 않아요.")
```

이유를 설명하세요.

In [ ]:
if True or 3/0:
    print("오류가 발생하지 않아요.")

오류가 발생하지 않아요.

16번과 같은 이유로 or은 둘 중 하나만 참이어도 전체가 참인 연산입니다. 이 때 위의 코드는 왼쪽식부터 연산하는데 True이기 때문에 전체 결과도 참으로 결정됩니다. 따라서 3/0은 판단하지 않고, 전체를 참으로 판단합니다. 따라서 if문 내부가 실행됩니다.