<a href="https://colab.research.google.com/github/woscc123/asn/blob/master/2018225038%ED%95%A8%EC%88%98%EC%A2%85%3B%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%3B1%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 프로그래밍 시작하기

**주의 사항**

* 실습 파일명을 아래의 형식(학번_이름)으로 변경하세요.  
    
    > 123456789_이름.ipynb

* 기존에 작성된 텍스트셀은 수정하지 않는다.

* 필요하면 코드셀 또는 텍스트셀을 추가할 수 있다.

* 실습 파일을 구글 드라이브에서 링크로 누구가 공유할 수 있도록 설정하세요.

**문제 1** 

아래 명령문들을 실행한 결과를 설명하라.

```python
print("Hello World"
print("Hello World)
print('Hello World")
print(+2)
print(2++2)
print(023)
print(21 8)
```

In [ ]:
# 1행: 괄호의 짝이 맞지 않으므로 오류
print("Hello World")

# 2행: 따옴표의 짝이 맞지 않으므로 오류
print("Hello World")

# 3행: 따옴표의 짝이 맞지 않으므로 오류
print("Hello World")

# 4행 (오류 없음)
print(+2)       # 양수 2

# 5행 (오류 없음)
print(2 + +2)   # 양수 2

# 6행: 정수형은 0으로 시작할 수 없다.
print(23)

# 7행: 정수형은 띄어쓰기를 할 수 없다.
print(218)

Hello World
Hello World
Hello World
2
4
23
218

**문제 2** 

변수 선언과 할당 관련 주의해야할 점들을 다룬다.
아래 명령문들을 실행하였을 때 무슨 일이 발생하는지를 확인하라.

```python
23 = n
x = y = 1
x = 2;
y = x + 1.
z = x y
```

In [ ]:
# 1행: 잘못된 대입 연산자 사용
n = 23

# 2행 (오류 없음)
x = y = 1       # 1이 y에 대입된 다음, y가 x에 대입된다.

# 3행 (오류 없음)
x = 2;          # 같은 줄에 다른 코드를 이어쓰지 않는 한, 파이썬에서 세미콜론을 사용할 필요는 없다.

# 4행 (오류 없음)
y = x + 1.      # 1.은 부동소수점 1.0과 같다.

# 5행: 띄어쓰기 불가능

**문제 3**

연산자를 이용해 수식으로 표현해보고 그 결과를 확인하여라.

* 정수 25와 정수 12를 더하시오.
* 정수 13에서 정수 19를 빼시오.
* 정수 92과 부동소수점 8.0 을 곱하시오.
* 부동소수점 81.5을 부동소수점 2.0으로 나누시오.
* 정수 7를 5로 나눴을 때, 몫을 구하시오.
* 정수 100을 정수 7로 나눈 나머지를 구하시오.
* 정수 3의 세제곱을 구하시오.

In [ ]:
print(25 + 12)
print(13 - 19)
print(92 * 8.0)
print(81.5 / 2.0)
print(7 // 5)
print(100 % 7)
print(3 ** 3)

37
-6
736.0
40.75
1
2
27

**문제 4**

다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인하여라.

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

|값|자료형|
|-|-|
|3|int|
|3.0|int|
|'3'|int|
|'3.0'|int|
|"3"|int|
|"3.0"|int|

In [ ]:
print(type(3),
      type(3.0),
      type('3'),
      type('3.0'),
      type("3"),
      type("3.0"))

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'str'> <class 'str'>

**문제 5** 

아래와 같이 변수들이 선언 및 할당되었다고 가정하자.

```python
width = 17
height = 12.0
delimiter = '.'
```

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 (표현식의 값이 갖는) 자료형을 확인하라.

```python
width//2
width/2
width/2.0
height/3
1+2*5
delimiter*5
```

In [ ]:
width = 17
height = 12.0
delimiter = '.'

print(width // 2,       type(width // 2))
print(width / 2,        type(width / 2))
print(width / 2.0,      type(width / 2.0))
print(height/ 3,        type(height / 3))
print(1 * 2 * 5,        type(1 * 2 * 5))
print(delimiter * 5,    type(delimiter * 5))

8 <class 'int'>
8.5 <class 'float'>
8.5 <class 'float'>
4.0 <class 'float'>
10 <class 'int'>
..... <class 'str'>

**문제 6**

1$\text{m}^2$는 0.3025평이다. 
84$\text{m}^2$는 몇 평인가? 
반대로 30평은 몇 $\text{m}^2$인가?

In [ ]:
const = 0.3025
print(f"84 m2는 {84 * 0.3025}평이다.")
print(f"30평은 {30 / 0.3025}m2 이다.")

84 m2는 25.41평이다.
30평은 99.17355371900827m2 이다.

**문제 7**

우유 가격은 820원이고, 아이스크림 가격은 1500원이다.
아이스크림은 3개이상 구입시 5%를 할인해준다.
우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성하여라.

In [ ]:
milk_price = 820
ice_price = 1500
milk_count = 2
ice_count = 3

result = milk_price * milk_count + (ice_price * ice_count * 0.95)
print(result)

5915.0

**문제 8**

100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼다.
1년후에 받는 돈은 얼마인지를 확인하는 코드를 작성하여라.
단, 다음 형식으로 출력하라.

> 1년 후 받는 원금 + 이자는 OOO원입니다.

In [ ]:
principal = 1_000_000
interest = 0.03
result = principal * ((1 + interest) ** 12)
print(f"1년 후 받는 원금 + 이자는 {result}원입니다.")

1년 후 받는 원금 + 이자는 1425760.8868461794원입니다.

**문제 9**

문자열 연산을 이용하여 다음의 실행결과가 나오도록 코드를 
다양한 방식으로 작성하여라

1. 변수할당과 문자열 `*` 연산자를 활용한다.

    ```
    안녕하세요. 안녕하세요. 안녕하세요.
    ```

1. 줄바꾸기 문자, 문자열 `+`, `*` 연산자를 활용한다.

    ```
    안녕하세요.
    안녕하세요.
    안녕하세요.
    안녕하세요.
    안녕하세요.
    ```

In [ ]:
hello = "안녕하세요. "

print(hello *  3)
print((hello + "\n") * 5)

안녕하세요. 안녕하세요. 안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제 10**

`dogs`와 `cats` 두 개의 변수가 다음과 같이 선언되었다.

```python
dogs, cats = '12', '7'
```

1. `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인하여라.  
1. 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성하여라. 
    출력된 결과는 아래와 같은 형식이어야 한다.

    > 강아지가 고양이보다 n 마리 더 많다.

힌트: `int()` 함수 또는 `float()` 함수를 이용할 수 있다.

In [ ]:
dogs, cats = "12", "7"
print(type(dogs), type(cats))
sub = int(dogs) - int(cats)
print(f"강아지가 고양이보다 {sub}마리 더 많다.")

<class 'str'> <class 'str'>
강아지가 고양이보다 5마리 더 많다.

**문제 11**

1. 변수할당과 연산기호를 이용해 아래 내용을 논리식으로 표현하라.

    - `p1`: `3`과 `4`가 다른지 여부 판단<br>
    - `p2`: `"hello"`와 `"hi"`가 같은지 여부 판단<br>
    - `p3`: `2`가 `8`보다 작거나 같은지 여부 판단<br>
    - `p4`: `12`가 `20`보다 큰지 여부 판단<br><br>

1. 아래의 결과가 `True`인지 `False`인지 판단하는 논리식을 작성하라.

    - (1) `and` (3)
    - (2) `and not` (4)
    - (3) `or` (4)

In [ ]:
p1 = 3 != 4
p2 = "hello" == "hi"
p3 = 2 <= 8
p4 = 12 > 20
print(p1 and p3)
print(p2 and not p4)
print(p3 or p4)

True
False
True

**문제 12**

15, 28이 각각 짝수인지 홀수인지를 판별하는 코드를 작성하여라.
출력된 결과는 아래와 같은 형식이다.

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

In [ ]:
def is_even(n):
    if n % 2 != 0:
        return False
    return True

print("15는 짝수인가요?", is_even(15))
print("28는 짝수인가요?", is_even(28))

15는 짝수인가요? False
28는 짝수인가요? True

**문제 13**

아래의 표는 어느 마트의 단위당 판매 가격이다.

 |제목|단위|가격|
 |:----:|:----:|----|
 |사과|1개|5,400원|
 |돼지고기|100g|2,480원|
 |달걀|10개|7,980원|
 |우유|1개|2,560원|
 |오이|1개|2,250원|

 A는 이 마트에서 사과 3개와 돼지고기 600g, 달걀 5개를 구매하려고 한다. 
 A는 총 비용을 구하는 프로그램을 작성하기 위해 아래와 같이 변수를 선언하였다.
 
```python
apple = '3'
pork = '600'
egg = '5'
```

위 변수들을 활용하여 
아래와 같은 형식으로 총 비용을 출력하는 프로그램을 작성하라.

> 사과 3개, 돼지고기 600g, 달걀 5개를 구매하는 총 비용은 OOO 원이다.

In [ ]:
apple = '3'
pork = '600'
egg = '5'

apple_price = 5400
pork_price = 2480 / 100
egg_price = 7980 / 10

result = int(apple) * apple_price + int(pork) * pork_price + int(egg) * egg_price
print(f"사과 {apple}개, 돼지고기 {pork}g, 달걀 {egg}개를 구매하는 총 비용은 {result} 원이다.")

사과 3개, 돼지고기 600g, 달걀 5개를 구매하는 총 비용은 35070.0 원이다.

**문제 14**

반지름이 r인 구의 부피는 $\frac{4}{3} \pi r^3$ 이다. 반지름이 5인 구의 부피는 얼마인가?

In [ ]:
from math import pi

r = 5
result = 4 / 3 * pi * r ** 3
print(f"반지름이 {r}인 구의 부피는 {result}이다.")

반지름이 5인 구의 부피는 523.5987755982989이다.

**문제 15**

책의 정가는 권당 24,950원이지만, 각 권당 10% 의 할인을 받는다고 가정하자.
첫 한 권의 운송료는 2,000원 이고, 두 권째 부터는 권당 500원을 추가로 내야 한다.
60권을 사서 배송을 받고자 하면 얼마를 지불해야 하는가?

In [ ]:
cost = 24_950
discount_price = cost * 0.9
book_count = 60

book_cost = book_count * discount_price
delivery_cost = 2000 + 500 * 59
entire_cost = book_cost + delivery_cost
print(f"{entire_cost}원 필요")

1378800.0원 필요

**문제 16**

오전 6:52 에 집을 떠나서, 가볍게 (km당 8분 15초 소요) 1km를 뛰고, 
이어서 좀 빠르게 (km당 7분 12초 소요) 3km를 뛴 후, 다시 가볍게 1km를 마저 달린다면, 
아침 식사를 위해 집에 돌아오는 시간은 언제인가?

In [ ]:
slowly = 8.25
fast = 7.2
result = slowly * 1 + fast * 3 + slowly * 1

print(f"{result}분 소요")

current = 6 * 60 + 52
s = current + result
print(f"{int(s // 60)}시 {s % 60:0.1f}분")

38.1분 소요
7시 30.1분

**문제 17**

만약 10 킬로미터를 43분 30초 만에 달렸다면, 마일당 소요 시간은 얼마인가? 
시간당 마일로 계산한 평균 속도는 얼마인가? 
단, 1마일은 1.61 킬로미터로 계산한다.

In [ ]:
const = 1.61
mile = 10 / const
requirement = 43.5 / mile
print(f"마일 당 소요 시간은 {requirement}분")
rate = 60 / requirement
print(f"한 시간에 {rate}마일을 갈 수 있다.")

마일 당 소요 시간은 7.003500000000001분
한 시간에 8.567144998929106마일을 갈 수 있다.